:root {
  --color-bg: #242424;
  --color-text: #fff;
  --color-card-header-active: green;
  --color-card-header-due: rgb(201, 0, 0);
  --color-card-header-completed: rgb(92, 92, 92);
  --color-button-bg: #a5a5a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 1em auto;
  -webkit-user-select: none;
  user-select: none;
}

i {
  font-style: normal;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

/* Header.jsx */

.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.main-heading .add-btn {
  /* position: absolute; */
  right: 1em;
}

.main-heading .add-btn button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding: .5em 1em;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: .5em;
  font-weight: 550;
}

.main-heading .add-btn button:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
  box-shadow: 0 0 2px #fff;
}

.logo-div {
  display: flex;
  width: 120px;
  height: 80px;
  object-fit: cover;
}

.logo-div img {
  margin-left: 10%;
  width: 100%;
  height: 100%;
}

/* App.js */
.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  column-gap: 4em;
  padding: 2em;
  background-color: var(--color-bg);  
  margin: auto;
  margin-left: 2em;
}

@media screen and (max-width: 768px) {
  .tasks{
    display: flex;
    flex-direction: column;
  }
}

/* Card.jsx */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bg);
  box-shadow: 1px 1px 1px #fff;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  height: max-content;
}

.card .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 1em;
  font-size: 1.2em;
  width: 100%;
  background-color: var(--color-card-header-completed);
  cursor: text;
  -webkit-user-select:text;
  user-select: text;
}

.card .description{
  position: relative;
  padding: 1em;
  cursor: text;
  -webkit-user-select:text;
  user-select: text;
}

.card .menu {
  position: absolute;
  background-color: #cbcbcb;
  color: #242424;
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 1.1em;
  top: 0;
  right: 0;
  height: 5em;
  z-index: 4;
  overflow-y: scroll;
}

.card .menu i svg {
  font-size: .85em;
}

::-webkit-scrollbar {
  width: .2em;
  background-color: var(--color-bg);
}

.card .menu i {
  padding: .2em .5em;
  border-bottom: 1px solid black;
}

.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.card .overdue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 1em;
  object-fit: cover;
}

.card .overdue img {
  width: 100%;
  height: 100%;
}

/* Form.jsx */
.modal {
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #242424c9;
  top: 0;
  z-index: 5;
}

.modal form {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  padding: 1em 2em;
  z-index: 99;
  position: relative;
  background-color: var(--color-bg);
  width: fit-content;
}

.modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center
}

.modal .form-header {
  width: fit-content;
  font-size: 1.5em;
}

.modal table {
  font-size: 1.4em;
  border-spacing: .5em;
}

.modal table td {
  padding: .1em;
}

.modal table input {
  color-scheme: dark;
  width: 100%;
  /* row-gap: 2em; */
  padding: .5em 0;
  font-size: 1em;
  border: 0;
  border-bottom: 2px solid white;
  color: var(--color-text);
  background-color: transparent;
  outline: none;
}

.modal table input[type='checkbox'] {
  font-size: 5em;
  width: 1em;
  height: .2em;
}

.modal table input[type='submit'] {
  margin-top: 2em;
  width: max-content;
  border: 0;
  background-color: var(--color-button-bg);
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .4em;
}

.modal table input[type='submit']:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.modal-header .form-header {
  font-size: 1.5em;
}

.modal .close-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close-form:hover {
  background-color: rgb(255, 0, 0);
}

.modal .close-form svg {
  position: relative;
  font-size: 2em;
  color: white;
}
